.form__handlers {
  width: 100%;
  padding: 48px 0 0;
  border: none;
  margin: 0;
}

@media screen and (max-width: 611px) {
  .form__handlers {
    padding-top: 45px;
  }
}

@media screen and (max-height: 450px) {
  .form__handlers {
    padding-top: 24px;
  }
}
