.form__submit {
  width: 100%;
  min-height: 50px;
  margin: 0;
  background-color: black;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  line-height: calc(1 / 18 * 22);
  text-align: center;
  transition: .3s;
}

.form__submit:disabled {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  opacity: .2;
}

.form__submit:not(:disabled):hover {
  background-color: rgba(0 0 0 / 80%);
}

@media screen and (max-width: 611px) {
  .form__submit {
    min-height: 46px;
    font-size: 14px;
  }
}

@media screen and (max-height: 450px) {
  .form__submit {
    min-height: 46px;
    font-size: 14px;
  }
}
